<div class="content" fxLayout="row" fxFlexFill (contextmenu)="onRightClick($event)">
    <div fxFlex="9" class="cockpit">

    </div>
    <div fxFlex="80" class="job-table-body scrollable-content">
        <table mat-table [dataSource]="jobs" class="mat-elevation-z8 table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let job">{{job.id}}</td>
            </ng-container>

            <ng-container matColumnDef="baseId">
                <th mat-header-cell *matHeaderCellDef>BaseID</th>
                <td mat-cell *matCellDef="let job">{{job.baseId ? job.baseId : job.id}}</td>
            </ng-container>
        
            <ng-container matColumnDef="jobname">
                <th mat-header-cell *matHeaderCellDef>Job name</th>
                <td mat-cell *matCellDef="let job">{{job.jobname}}</td>
            </ng-container>
        
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>User</th>
                <td mat-cell *matCellDef="let job">{{job.user}}</td>
            </ng-container>
        
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef>Size</th>
                <td mat-cell *matCellDef="let job">{{job.size}} Mbyte</td>
            </ng-container>
        
            <ng-container matColumnDef="pages">
                <th mat-header-cell *matHeaderCellDef>Pages</th>
                <td mat-cell centered *matCellDef="let job">{{job.pages}}</td>
            </ng-container>
        
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef>Created</th>
                <td mat-cell *matCellDef="let job">{{job.created}}</td>
            </ng-container>
        
        
            <ng-container matColumnDef="printer">
                <th mat-header-cell *matHeaderCellDef>Printer</th>
                <td mat-cell *matCellDef="let job">{{job.printer}}</td>
            </ng-container>
        
        
            <ng-container matColumnDef="foldprogram">
                <th mat-header-cell *matHeaderCellDef>Foldprogram</th>
                <td mat-cell centered *matCellDef="let job">{{job.foldprogram}}</td>
            </ng-container>
        
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>State</th>
                <td mat-cell *matCellDef="let job">{{job.state}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr 
                mat-row (click)="onRowClick(row)" 
                (contextmenu)="onContextMenu($event, row)"
                [class.row-is-clicked]="isRowsEqual(row)"
                *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        </div>
        <div 
             fxFlex="11" 
             fxLayout="column" 
             fxLayoutAlign="start center" 
             class="job-small-preview scrollable-content">

            <div 
               fxLayout="column" 
               fxLayoutAlign="space-around center" 
               *ngIf="loading || !isRowAndImageIdEqual"  
               class="preview-window shadow">

               <mat-spinner 
                  *ngIf="loading" 
                  diameter="40" >
               </mat-spinner>
                
            </div>

            <img 
              [src]="img" 
              *ngIf="!loading && isRowAndImageIdEqual" 
              class="preview-img shadow" 
              (load)='isLoaded()' 
              [className]="loading ? 'hidden' : 'preview-img shadow'" 
              fxLayout="row" 
              fxLayoutAlign="space-around center">
        </div>

</div>

<div style="visibility: hidden; position: fixed" 
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" 
    [matMenuTriggerFor]="contextMenu"
    >
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="row">
        <button 
        mat-menu-item (click)="onContextMenuResume(clickedRow.values().next().value)"
        (contextmenu)="onRightClick($event)"
        >Resume</button>
        <button 
        mat-menu-item (click)="onContextMenuDelete(clickedRow.values().next().value)"
        (contextmenu)="onRightClick($event)"
        >Delete</button>
        <button 
        mat-menu-item (click)="onContextMenuPreview(clickedRow.values().next().value)"
        (contextmenu)="onRightClick($event)"
        >Preview</button>
        <button 
        mat-menu-item (click)="onContextMenuProperties(clickedRow.values().next().value)"
        (contextmenu)="onRightClick($event)"
        >Properties</button>
    </ng-template>
</mat-menu>

