@use '@angular/material' as mat;
.table {
    width: 100%;

  }
  
  .job-table-body{
    max-width: 100%;

  }

  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .row-is-clicked {
    background-color: rgb(155, 153, 153);
  }

  .content{
    height: 100%;
    width: 100%;
    background-color: rgb(155, 153, 153);
  }

  .preview-img{
    width: 100%;
  }

  .job-small-preview{
   border-left: 1px solid white;
  }

  .cockpit{
    border-right: 1px solid white;
  }
  .preview-window{
     border: 1px solid white;
     width: 100%;
     height: 300px;
  }

.shadow{
  @include mat.elevation(6);
}

.scrollable-content {
  overflow:auto; 
  overflow-x: hidden;
}


  .mat-spinner {
    margin: auto;
    width: 100%;
    height: 300px;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    ::ng-deep circle {
      stroke: white;
  }
  }

