<mat-dialog-content сlass="properties-dialog" >
    
        <div fxFlex='50' class=".properties-preview-window">
        </div>
        <form [formGroup]="form" (submit)='onSubmit()'>
        <div fxFlex='50' fxLayoutGap fxLayoutAlign="space-around start" class=".properties-list-window">
            <fieldset fxFlex=45 fxLayout="column" fxLayoutGap>
                <legend>File presets</legend>
                <fieldset>
                    <legend>Color mode</legend>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Color mode</mat-label>
                        <mat-select 
                        placeholder="Not selected" 
                        formControlName="colormode" 
                        name="colormode"  
                        >
                            <mat-option *ngFor="let choice of properties[0]['colormode'].values" [value]="choice">
                                {{choice}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>
                <fieldset>
                    <legend>Copies</legend>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Copies</mat-label>
                        <input 
                        matInput type="number" 
                        placeholder="Not set" 
                        formControlName="copies_file" 
                        name="copies_file" 
                        [min] = "properties[0]['copies_file'].min"
                        [max] = "properties[0]['copies_file'].max"
                        >
                    </mat-form-field>
                </fieldset>
                <fieldset>
                    <legend>Medium / Roll</legend>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Medium</mat-label>
                        <mat-select placeholder="Not selected" formControlName="medium" name="medium">
                            <mat-option *ngFor="let medium of properties[0]['medium'].values" [value]="medium">
                                {{medium}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Mediasource</mat-label>
                        <mat-select placeholder="Not selected" formControlName="mediasource" name="mediasource"
                            [value]="properties[0]['mediasource'].value">
                            <mat-option *ngFor="let mediasource of properties[0]['mediasource'].values" [value]="mediasource">
                                {{mediasource}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Auto-cropping</mat-label>
                        <mat-select placeholder="Not selected" formControlName="auto_cropping" name="auto_cropping">
                            <mat-option *ngFor="let choice of properties[0]['auto_cropping'].values" [value]="choice">
                                {{choice}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>
                <fieldset>
                    <legend>Rotation / Orientation</legend>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Rotation</mat-label>
                        <mat-select placeholder="Not selected" formControlName="rotation" name="rotation">
                            <mat-option *ngFor="let rotate of properties[0]['rotation'].values" [value]="rotate">
                                {{rotate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Output orientation</mat-label>
                        <mat-select placeholder="Not selected" formControlName="rotate_to_orientation" name="rotate_to_orientation">
                            <mat-option *ngFor="let rotate of properties[0]['rotate_to_orientation'].values" [value]="rotate">
                                {{rotate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Roll placement</mat-label>
                        <mat-select placeholder="Not selected" formControlName="roll_placement" name="roll_placement">
                            <mat-option *ngFor="let placement of properties[0]['roll_placement'].values" [value]="placement">
                                {{placement}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>
                <fieldset>
                    <legend>Stamps / Labels</legend>
                    <mat-form-field *ngIf="!loading" appearance="fill" fxLayout="column" fxLayoutAlign="center center">
                        <mat-label>Stampoption</mat-label>
                        <mat-select placeholder="Not selected" formControlName="stampoption" name="stampoption">
                            <mat-option *ngFor="let stamp of properties[0]['stampoption'].values" [value]="stamp">
                                {{stamp}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </fieldset>
                <fieldset>
                    <legend>Scaling / Margins</legend>
                </fieldset>
                <fieldset>
                    <legend>Folding / Output</legend>
                </fieldset>
                <fieldset>
                    <legend>Quality</legend>
                </fieldset>
            </fieldset>
            <fieldset fxFlex=45 fxLayout="column">
                <legend>Job settings</legend>
                <fieldset>
                    <legend>Printer</legend>
                </fieldset>
                <fieldset>
                    <legend>Copies (set)</legend>
                </fieldset>
                <fieldset>
                    <legend>Job</legend>
                </fieldset>
                <fieldset>
                    <legend>Banner</legend>
                </fieldset>
                <fieldset>
                    <legend>Miscellanious</legend>
                </fieldset>
            </fieldset>
        </div>
    </form>
    
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)='onSubmit()'>Apply</button>
</mat-dialog-actions>